$busy-light-color: yellow;
$error-light-color: red;
$header-buttons-color: #035E9F;
//#016F54;
$header-buttons-text-color: white;

$skin-image: "../img/bg3.jpg";
$tr-light-image: "../img/texture.jpg";
$warning-sign: "../img/warning.png";
$pipe: "../img/pipe.png";

@mixin background-image($image) {
  background-image: url( $image );
  background-size: contain;
  background-size: cover;
}

body {
  @include background-image( $skin-image );
  //background-color: #ddd;
}

.header {
  height: 100px;
  width: 98.25%;

  margin-left: -8px;

  padding: 10px 20px 10px 20px;
}

.header > .menu {
  float: left;
  height: 100%;
  padding: 13px 33px 13px 33px;
  vertical-align: top;
  width: 84%;
}

.header > .logo {
  float: left;
}

.menu > .user-buttons {
  display: inline-block;
  float: left;
  padding: 0 25%;
  position: relative;
  width: 100%;
}
.user-buttons > .user_button {
  display: inline-block;
  margin-left: 10%;

  //border: 2px solid $header-buttons-color;
  //border-radius: 10px;
  //box-shadow: inset 0px 0px 4px white;

  @include background-image( $tr-light-image );
  //border-radius: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */

  padding: 10px 20px;

  background-color: $header-buttons-color;

  //font-weight: bold;
  font-size: 20pt;
  color: $header-buttons-text-color;

  cursor: pointer;
}

.user_button > * {
  font-style: Arial, Helvetica, sans-serif;
}

.content-container {
  display: flex;
  flex-flow: row;

  position: absolute;
  top: 58%;
  
  margin-left: -8px;

  width: 100%;
}

.content-container > .board {
  //background-color: black;
  @include background-image( $tr-light-image );
  box-shadow: 5px 5px 10px #444;

  width: 80%;
  height: 145px;
  
  border: 1px solid black; 
  border-radius: 10px;

  margin: 0 auto;
}

.board > .pipe {
  @include background-image( $pipe );

  height: 30px;
  width: 100%;

  position: absolute;

  left: 8px;
  top: 39%;

  z-index: -200;
}

.board > .lights {
  display: flex;
  flex-flow: row nowrap;

  margin: auto;

  height: 100%;
  width: 95%;

  list-style-type: none;
}
.lights > li.light {
  background-color: grey;

  border: 1px solid grey;
  border-radius: 100%;

  height: 90px;
  width: 90px;

  margin: 28px 16.5px;
  position: relative;
}
.lights > li.light:not(.on) {
  box-shadow: none;

  -webkit-transition: box-shadow 1.5s, background-color 1.5s, border 1.5s;
  transition: box-shadow 1.5s, background-color 1.5s, border 1.5s;
}
.lights > li.light.on {
  box-shadow: 0px 0px 10px $busy-light-color;
  background-color: $busy-light-color;
  border: 1px solid $busy-light-color;

  inset: 0 0 20px 0px (0, 0, 0, 1);

  -webkit-transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
}

.lights > li.light.error {
  box-shadow: 0px 0px 10px $error-light-color;
  background-color: $error-light-color;
  border: 1px solid $error-light-color;
  @include background-image( $warning-sign );

  inset: 0 0 20px 0px (0, 0, 0, 1);

  -webkit-transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
}

.board > .counter {
  background-color: #333;
  color: white;

  //font-weight: bold;
  text-align: center;

  width: 20%;
  height: 25px;

  margin: 0 auto;
}

.menu > .subscribtion-buttons {
  display: inline-block;

  float: right;

  position: absolute;

  right: 2%;
  width: 15%;
}
.subscribtion-buttons > .subscribtion-button {
  display: inline-block;
  margin-left: 10%;

  //border: 1px solid black;
  //border-radius: 4px;

  float: right;

  height: 40px;
  width: 40px;

  cursor: pointer;
}

.subscribtion-button.twitter {
  @include background-image ( '../img/twitter.png' )
}
.subscribtion-button.telegram {
  @include background-image ( '../img/telegram.png' )
}

#login_form {
  //background-color: #ddd;
  @include background-image( $tr-light-image );
  color: white;

  //border-radius: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */

  height: 230px;
  width: 400px;

  padding: 20px;
  position: absolute;

  margin-left: -24%;

  z-index: 1000;
}
#login_submit {
  float: right;
}

#registration_form {
  //background-color: #ddd;
  @include background-image( $tr-light-image );
  color: white;

  //border-radius: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */

  width: 450px;

  padding: 20px 40px;
  margin-left: 20.3%;
  
  position: absolute;

  z-index: 1000;
}
#registration_form ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}
#registration_form ul li {
  margin: 0 auto;
}

#registration_form li > a {
  color: #f1f1f1;
}

.footer {
  bottom: 0;

  position: fixed;

  text-align: center;

  width: 100%;
}